<%= render partial: 'layouts/errors', locals: {object: @anime}  %>
<%= form_for(@anime) do |f|%> 
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    
    <div>
      <%= f.label :epiosde_length %> 
      <%= f.select :epiosde_length,options_for_select(["0 - 10 Minutes", "10 - 30 Minutes", "30 Minutes - 1 Hour"]), include_blank: true %>   
    </div>
    <div>
      <%= f.label :address %>
      <%= f.text_field :address %> 
    </div>

    <p> Select a Genre: </p>
    <div>
      <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: 'Select One'%>
  
    </div>
  
    <p> Or create a new Genre: </p>
    <div>
      <%= f.fields_for :genre do |g| %>
        <%= g.label :name %>
        <%= g.text_field :name %>
      <% end %> 
    </div> 
    <br>
    <%= f.submit %>
  <% end %>