<%= render partial: 'layouts/errors', locals: {object: @anime}  %>
<%= form_for(@anime) do |f|%> 
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    
    <div>
      <%= f.label :episode_length %> 
      <%= f.select :episode_length,options_for_select(["10m", "20m", "1hr"]), include_blank: true %>   
    </div>
    <div>
      <%= f.label :character %>
      <%= f.text_field :character %> 
    </div>

    <p> Select a Category: </p>
    <div>
      <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: 'Select One'%>
  
    </div>
  
    <p> Or create a new Category: </p>
    <div>
      <%= f.fields_for :category do |c| %>
        <%= c.label :name %>
        <%= c.text_field :name %>
      <% end %> 
    </div> 
    <br>
    <%= f.submit %>
  <% end %>