<h1>All the Shops</h1>
<%# <%= form_tag('/shops',:method=>:get) do %>                           
<%# <%= select_tag "category_id", options_from_collection_for_select(Category.all, "id", "name", params[:category_id]), include_blank: 'Select One' %>     
<%# <%= submit_tag %> 
<%# <% end %> 

<% @shops.each do |s| %>

  <h2><%= link_to s.name, shop_path(s.id)%> - <%= s.category.name %> - <%= s.price_range %> </h2>
 
  <p><h3>Address: <%= s.address %></p></h3>
   <%= link_to "Write a review", new_shop_review_path(s.id) %> 
  <% end %>

  <button onclick="goBack()">Go Back</button>

<script>
function goBack() {
  window.history.back();
}
</script>