<h1>All Animes</h1>

<% @animes.each do |a| %>

  <h2><%= link_to a.name, anime_path(a.id)%> - <%= a.category.name %> - <%= a.episode_length %> </h2>
 
  <p><h3>Main Character: <%= a.character %></p></h3>
   <%= link_to "Write a review", new_anime_review_path(a.id) %> 
  <% end %>
<br>
<br>
  <button onclick="goBack()">Go Back</button>
<br>
<br>

<img alt="Animes" src="https://www.fortressofsolitude.co.za/wp-content/uploads/2019/05/The-15-Most-Powerful-Anime-Characters-Of-All-Time-scaled.jpg"
         width=700" height="500">

<script>
function goBack() {
  window.history.back();
}
</script>