<h1><%= @shop.name%>  </h1>


<h2> <%= @shop.category_name %> </h2>
<div>
  <p><%= @shop.price_range %></p>
  <p><%= @shop.address %></p>
</div>


<%= link_to "Edit #{@shop.name}", edit_shop_path(@shop) if @shop.user == current_user%><br>
<%= link_to "Delete #{@shop.name}", {:controller => "shops", :action => 'destroy'}, :method => :delete if @shop.user == current_user %><br><br


<br></br>

<%= link_to "See all Reviews", shop_reviews_path(@shop) %> <br><br>


<button onclick="goBack()">Go Back</button>

<script>
function goBack() {
  window.history.back();
}
</script>