<%=  display_header(@review)%> 
<%= render partial: 'layouts/errors', locals: {object: @review}  %>



<%= form_for(@review) do |f|%>
  <% if params[:anime_id] %>
    <%= f.hidden_field :anime_id %>
  <% else %>
    <div>
      <%= f.label :anime_id, "Select an Anime" %>
      <%= f.collection_select :anime_id, Anime.alpha, :id, :name_and_category, include_blank: true %>
    </div>
  <% end %>
  <div>
    <%= f.label :rating %>
    <%= f.number_field :stars, min:0, max:5 %>
  </div>
  <br>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <br>
  <div>
    <%= f.label :description %>
    <%= f.text_area :content, size: "30x5" %>
  </div>
  <br>



  <%= f.submit %>

<% end %>



<button onclick="goBack()">Go Back</button>

<script>
function goBack() {
  window.history.back();
}
</script>